<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="img/Coffee.png" sizes="16x16">
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Coffee Space</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header
      class="header"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.header.partial.html"
    ></header>
    <main class="main">
      <section
        class="main__special"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.steps.partial.html"
      ></section>
      <section
        class="main__special"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.special.partial.html"
      ></section>
      <section
        class="main__coffee-machines"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.coffee-machines.partial.html"
      ></section>
      <section
        class="main__new-arrival"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.new-arrival.partial.html"
      ></section>
      <section
        class="main__services"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.services.partial.html"
      ></section>
      <section
        class="main__questions"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.questions.partial.html"
      ></section>
      <section
        class="main__pricing"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.pricing.partial.html"
      ></section>
      <section
        class="main__about"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.about.partial.html"
      ></section>
      <section
        class="main__steps"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.contacts.partial.html"
      ></section>
    </main>
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script src="js/index.js"></script>
  </body>
</html>