.footer {
  background-color: #1d1d1d;
  color: #fff;
  padding: 80px 0 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  box-sizing: border-box;
}

.footer__section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 50px;
}

.footer__section-title {
  color: #f8f6f6;
  margin-bottom: 10px;
  font-family: 'Poppins';
  font-weight: 600;
}

.footer__logo {
  display: block;
  margin-bottom: 15px;
}

.footer__description {
  font-size: 14px;
  color: #9b9898;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.footer__list-item {
  margin-bottom: 8px;
}

.footer__link {
  color: #9b9898;
  text-decoration: none;
}

.footer__link:hover {
  color: #fff;
}

.footer__input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #2c2c2c;
  border: none;
  color: #fff;
  box-sizing: border-box;
}

.footer__button {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.footer__button:hover {
  background-color: #cc0000;
}

.footer__bottom {
  background-color: #1b1414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 75px;
  box-sizing: border-box;
}

.footer__copyright {
  font-size: 12px;
  color: #ccc;
  margin: 0;
}

.footer__social-link {
  color: red;
  margin-left: 10px;
  font-size: 18px;
}

.footer__social-link:hover {
  color: #ff4d4d;
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    padding: 0 20px;
  }
}

